<!--<app-first-task></app-first-task>-->
<!--<app-second-task></app-second-task>-->
<!--<app-third-task></app-third-task>-->
<!--<app-fourth-task></app-fourth-task>-->
<!--<app-fifth-task></app-fifth-task>-->
<!--<app-sixth-task></app-sixth-task>-->
<!--<app-seventh-task></app-seventh-task>-->
<!--<app-eighth-task (btnClicked)="currentCounter = $event"></app-eighth-task>-->
<!--<div *ngIf="currentCounter">-->
<!--  <h1>Congratulations!</h1>-->
<!--  <h3>You set the parent's counter to: {{currentCounter}}</h3>-->
<!--</div>-->
<!--<app-nineght-task #stop></app-nineght-task>-->
<!--<button class="btn btn-primary" (click)="stop.stopTimer()">Stop Timer</button>-->
<!--<app-tenth-task></app-tenth-task>-->
<app-eleventh-task></app-eleventh-task>
<mat-button-toggle>
  <a routerLink="/" routerLinkActive="active"> Main component </a>
</mat-button-toggle>
